.productInfo {
  padding-left: 12px;
  padding-right: 12px;
  display: block;
  min-width: 0px;
  margin-bottom: 24px;
  flex: 1 1 0%;
}

.prodeuctInfo:hover {
  text-decoration: underline;
}

.productNameContainer {
  display: block;
  cursor: pointer;
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 1.25;
  outline: 0px;
}

.productNameContainer:hover {
  text-decoration: underline;
}

.category {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
}

.name {
  display: block;
}

.sizeSKU {
  display: block;
  color: rgb(117, 117, 117);
  margin-top: 4px;
  font-size: 12px;
}

.bullet {
  word-wrap: break-word;
  margin-left: .5em;
  margin-right: .5em;
}

.description {
  display: block;
  text-align: left;
  margin-top: 12px;
  margin-bottom: 12px;
}

.descriptionText {
  display: block;
}

.productLinkContainer {
  display: block;
  text-align: right;
}

.productLink {
  display: inline-block;
  color: rgb(20, 112, 245);
  cursor: pointer;
}

.productLink:hover {
  text-decoration: underline;
}

.variationText {
  display: block;
  overflow-wrap: break-word;
  font-size: 14px;
  line-height: 1.25;
  min-height: 35px;
}

.variationBox {
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  margin-left: -4px;
}

.variationWrapper {
  display: flex;
  flex-wrap: wrap;
  font-size: 11px;
}

.variationItem {
  display: inline-block;
  position: relative;
  height: 100%;
}

.variationButton {
  position: relative;
  cursor: pointer;
  padding: 1px;
  margin-right: 1px;
  border-width: 3px;
  border-style: solid;
  border-radius: 7px;
  border-color: transparent;
  background-color: white;
}

.variationButton:focus {
  outline-offset: .5px;
  outline: dashed 1px;
}

.variationButton:hover {
  border-color: rgb(150, 150, 150)
}

.variationButtonSelect {
  position: relative;
  cursor: default;
  margin-right: 1px;
  padding: 1px;
  border-width: 3px;
  border-style: solid;
  border-radius: 7px;
  border-color: transparent;
  background-color: white;
  border-color: rgb(0, 0, 0);
}

.variationButtonSelect:focus {
  outline-offset: .5px;
  outline: dashed 1px;
}

.buttonContent {
  display: block;
  text-align: center;
  white-space: nowrap;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 12px;
  line-height: 1;
  border-color: rgb(204, 204, 204);
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
}

.hidden {
  visibility: hidden;
}