.entry {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 25px;
  margin-right: 25px;
}

.itemContainer {
  display: block;
  position: relative;
  width: 135px;
  height: 135px;
}

.item {
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}

.name {
  font-family: "helvetica neue", arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.category {
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.productName {
  font-size: 12px;
  line-height: 1.25;
}

.price {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

.starContainer {
  display: flex;
  justify-content: center;
}

.star {
  height: 1em;
  width: 1em;
  vertical-align: text-bottom;
  fill: currentColor;
}

.loveButton {
  position: absolute;
  right: 0px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  outline:none;
  opacity: 0;
}

.love {
  display: inline-block;
  position: relative;
  fill: currentColor;
  vertical-align: text-bottom;
  margin-left: -4px;
  height: 1em;
  width: 1.25em;
}