.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
  overflow: scroll;
}

.button {
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  outline:none;
  width: 32px;
  height: 135px;
}

.arrow {
  width: 0.5em;
  height: 1em;
  fill: currentColor;
}