.item {
  max-width: 100%;
}

.image {

}
.name {
  text-align: center;
}

.price {
  text-align: center;
}

.starContainer {
  display: flex;
  justify-content: center;
  color: rgb(204, 204, 204);
  width: 5em;
  height: 1em;
}

.star {
  height: 1em;
  width: 1em;
  vertical-align: text-bottom;
  fill: currentColor;
}