.wrapper {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.innerContainer {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  margin-left: -12px;
}

::-webkit-scrollbar { 
  display: none; 
}

.button {
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  outline:none;
  width: 32px;
  height: 135px;
}

.arrow {
  width: 1em;
  height: 2em;
  fill: currentColor;
}