.item {
  display: flex;
  height: 135px;
  width: 135px;
}

.name {
  font-family: "helvetica neue", arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.category {
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.productName {
  font-size: 12px;
  line-height: 1.25;
}

.price {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

.starContainer {
  display: flex;
  justify-content: center;
}

.star {
  height: 1em;
  width: 1em;
  vertical-align: text-bottom;
  fill: currentColor;
}