.outerWrapper {
  display: block;
}

.innerWrapper {
  position: relative;
  padding-right: 32px;
  padding-left: 32px;
}

.outer {
  position: relative;
  overflow: hidden;
}

.inner {
  display: flex;
  flex-direction: row;
  transform: translateX(0px);
  transition: transform 300ms ease 0s;
}

::-webkit-scrollbar { 
  display: none; 
}

.buttonL {
  font-size: 36px;
  line-height: 0;
  height: 135px;
  position: absolute;
  text-align: left;
  left: 0px;
  top: 0px;
  width: 32px;
  overflow: hidden;
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  outline:none;
}

.buttonR {
  font-size: 36px;
  line-height: 0;
  height: 135px;
  position: absolute;
  text-align: right;
  right: 0px;
  top: 0px;
  width: 32px;
  overflow: hidden;
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  outline:none;
}

.arrow {
  width: 0.5em;
  height: 1em;
  fill: currentColor;
}