.entry {
  display: flex;
  flex-shrink: 0;
  max-width: 164px;
  width: 20%;
  padding-left: 12px;
  padding-right: 12px;
}

.itemContainer1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: 1.25;
  text-align: center;
}

.itemContainer2 {
  position: relative;
}

.itemContainer3 {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: 135px;
  margin-bottom: 12px;
}

.itemContainer1:hover .loveContainer {
  opacity: 1;
  transition: opacity .15s ease 0s;
  -moz-transition: opacity .15s ease 0s;
  -webkit-transition: opacity .15s ease 0s;
}

.loveContainer {
  opacity: 0;
  position: absolute;
  top: -4px;
  right: 0px;
}

.name {
  font-family: "helvetica neue", arial, sans-serif;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category {
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.price {
  font-size: 12px;
  font-weight: 700;
  margin-top: 4px;
}

.starContainer {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.star {
  height: 1em;
  width: 1em;
  vertical-align: text-bottom;
  fill: currentColor;
}