.container {
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  min-width: 0px;
  flex: 1 1 0%;
}

.priceContainer {
  display: block;
  margin-right: 12px;
  flex: 1 1 0%;
}

.price {
  display: block;
  font-weight: 700;
  min-height: 40px;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.25;
}

.promo {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1.25;
}

.shopContainer {
  display: flex;
}

.selectContainer {
  position: relative;
}

.select {
  display: block;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  height: 40px;
  padding-left: 12px;
  padding-right: 24px;
  color: #000;
  background-color: #fff;
  text-transform: none;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-appearance: none;
  -webkit-appearance: none;
  min-width: 54px;
}

option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

.arrowBox {
  border-left: .375em solid transparent;
  border-right: .375em solid transparent;
  border-top: .4375em solid;
  border-bottom: 0;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translate(0,-50%);
  font-size: 12px;
  pointer-events: none;
}

.addContainer {
  display: block;
  margin-left: 12px;
  width: 160px;
}

.basket {
  font-size: 12px;
  line-height: 1.5;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 40px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  box-sizing: border-box;
  -webkit-appearance: none;
  color: rgb(255, 255, 255) !important;
  background-color: rgb(236, 4, 15);
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  display: block;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.2s ease 0s;
}

.basket:hover {
  background-color: rgb(208, 17, 43);
}

.basket:focus {
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px, rgb(0, 0, 0) 0px 0px 0px 3px;
  border-color: black;
}

.loveContainer {
  display: block;
  margin-top: 8px;
}

.loveButton {
  font-size: 12px;
  line-height: 1.5;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 40px;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  display: block;
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  outline: 0px;
  border-radius: 4px;
  border-color: currentcolor;
  transition: color 0.2s ease 0s, border-color 0.2s ease 0s;
}

.loveButton:hover {
  color: rgb(117. 117. 117);
}

.span1:after {
  content: 'Add to loves';
}

.span2:after {
  content: 'Loved';
}

.loveButton:hover .span2:after {
  content: 'Unlove';
}

.loveButton:focus {
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px, rgb(0, 0, 0) 0px 0px 0px 3px;
}