.outerWrapper {
  min-height: 195px;
  display: block;
}

.innerWrapper {
  position: relative;
  padding-right: 32px;
  padding-left: 32px;
}

.outerContainer {
  position: relative;
  overflow: hidden;
}

.innerContainer {
  display: flex;
  margin-left: -12px;
  margin-right: -12px;
  transform: translateX(0%);
  transition: transform 300ms ease 0s;
}

.r1 {
  display: flex;
  margin-left: -12px;
  margin-right: -12px;
  transform: translateX(-100%);
  transition: transform 300ms ease 0s;
}

.r2 {
  display: flex;
  margin-left: -12px;
  margin-right: -12px;
  transform: translateX(-200%);
  transition: transform 300ms ease 0s;
}

.buttonL {
  font-size: 36px;
  line-height: 0;
  height: 135px;
  position: absolute;
  text-align: left;
  left: 0px;
  top: 0px;
  width: 32px;
  overflow: hidden;
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  outline:none;
}

.buttonR {
  font-size: 36px;
  line-height: 0;
  height: 135px;
  position: absolute;
  text-align: right;
  right: 0px;
  top: 0px;
  width: 32px;
  overflow: hidden;
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  outline:none;
}

button:disabled {
  color: rgb(238, 238, 238);
}

.arrow {
  width: 0.5em;
  height: 1em;
  fill: currentColor;
}