.box {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
}
.flexTop {
  display: flex;
  margin-bottom: 24px;
  margin-left: -12px;
  margin-right: -12px;
  flex-flow: row wrap;
}

.productInfo {
  padding-left: 12px;
  padding-right: 12px;
  display: block;
  min-width: 0px;
  margin-bottom: 24px;
  flex: 1 1 0%;
}

.flexBot {
  display: flex;
  margin-left: -12px;
  margin-right: -12px;
  flex-flow: row wrap;
}