.bottom {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 24px;
}

.slideButton {
  margin-right: 3px;
  line-height: 0px;
  max-width: 10px;
  max-height: 10px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
}

.slideButton:disabled {
  cursor: default;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: rgb(204, 204, 204);
  border-radius: 99999px;
}

.slideButton:disabled > .circle {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 99999px;
}